.app {
  box-sizing: border-box;
  overflow: auto;
}

.header {
  display: block;
  padding: 1em;
  font-size: .95em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .25em;
  vertical-align: middle;
  margin: 0;
  color: #bf392b;
  background: #ffed95;
  border-bottom: 3px solid #ecd45b;
}

.logo{
  margin-right: 1em;
  margin-left: 1em;
  display: inline-block;
  height: 70px;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

.container{
  padding: 2em;
  min-height: 100%;
  background: #fff;
}
